.main-view {
    background-color: #dae0e6;
}

.main-wrap {
    height: 100vh;
    background-color: #dae0e6;
}

.card-container {
    display: grid;
    justify-content: center;
}

.form-container {
    display: grid;
    justify-content: center;
    padding-top: 2rem;
}